body{margin: 0;padding: 0;}
.contIfr{
	margin: 0;padding: 0;
	width: 100%;
	height: 300px;
}
iframe{
	width: 100%;
	height: 100%;
}
/*@media (max-width: 600px) {
	.contIfr{
		margin: 0;padding: 0;
		width: 100%;
	}
}*/